%message {
    // font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 50px;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.carrergoal {
    @extend %message;
    background-color: burlywood;
}

.hobbies {
    @extend %message;
    background-color: antiquewhite;
}

.Besties {
    @extend %message;
    background-color: aliceblue;
   
}
