<html>    
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <title>Book Details</title>
        
    </head>
    <style>
        h1{
            text-align: center;
            color:black;
        }
        h4{
            color:brown;

        }
    </style>
    <body>
        
        <h1>Book Details:</h1>
        <div class="container">
            <h2>Book Details</h2>
            <div class="card" style="width:400px">
              <img class="card-img-top" src="http://covers.openlibrary.org/b/isbn/{{isbn}}-M.jpg" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">Title:{{title}}</h4>
                <h4 class="card-title">Author:{{author}}</h4>
                <h4 class="card-title">Isbn:{{isbn}}</h4>
                <h4 class="card-title">Published year:{{pub_year}}</h4>
              </div>
            </div>
        </div>
        </body>
</html>